Repository includeamin/eventflux: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, mypy, poetry-check, poetry-lock-check

black:
  name: black
  language: system
  entry: poetry run black

ruff:
  name: ruff
  language: system
  entry: poetry run ruff check
  args:
  - --fix
  - --exit-non-zero-on-fix

mypy:
  name: mypy
  language: system
  entry: poetry run mypy

poetry-check:
  name: poetry-check
  language: system
  entry: poetry check
  pass_filenames: false

poetry-lock-check:
  name: check-poetry-lock
  entry: poetry check
  language: system
  pass_filenames: false
  args:
  - --lock

chore: refactor workflow
  .github/workflows/linting&testing.yml
  .github/workflows/python-app.yml
Due: none

chore: making the linter happy
  eventflux/__init__.py
  eventflux/app.py
  eventflux/handler.py
  eventflux/router.py
  eventflux/subscribers/base.py
  eventflux/subscribers/kafka.py
  tests/test_app.py
Due: black, ruff, mypy

chore: solve linter issues
  eventflux/__init__.py
  eventflux/app.py
  eventflux/event.py
  eventflux/handler.py
  eventflux/router.py
  eventflux/subscribers/base.py
  eventflux/subscribers/kafka.py
  pyproject.toml
  ruff.toml
  tests/send_event.py
  tests/test_app.py
Due: black, ruff, mypy, poetry-check, poetry-lock-check

chore: add types filter and optimize routing
  eventflux/app.py
  eventflux/handler.py
  eventflux/router.py
  pyproject.toml
  tests/send_event.py
  tests/test_app.py
Due: black, ruff, mypy, poetry-check, poetry-lock-check

chore: add types filter and optimize routing
  eventflux/app.py
  eventflux/handler.py
  eventflux/router.py
  eventflux/subscribers/kafka.py
  pyproject.toml
  tests/send_event.py
  tests/test_app.py
Due: black, ruff, mypy, poetry-check, poetry-lock-check

chore: remove .idea
  .idea/.gitignore
  .idea/eventflux.iml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/ruff.xml
  .idea/vcs.xml
Due: none

chore: use json logger
  .gitignore
  eventflux/app.py
  eventflux/logger.py
  tests/test_app.py
Due: black, ruff, mypy

feat: add `add_event_handler` to CloudEventRouter
  eventflux/router.py
  tests/send_event.py
  tests/test_app.py
Due: black, ruff, mypy

chore: export KafkaCloudEventSubscriber from subscribers module
  eventflux/subscribers/kafka.py
Due: black, ruff, mypy

chore: wip
  eventflux.iml
  tests/send_event.py
Due: black, ruff, mypy

featmake event model agnostic router
  eventflux/__init__.py
  eventflux/app.py
  eventflux/event.py
  eventflux/handler.py
  eventflux/router.py
  eventflux/subscribers/base.py
  eventflux/subscribers/kafka.py
  poetry.lock
  pyproject.toml
  tests/send_event.py
  tests/test_app.py
Due: black, ruff, mypy, poetry-check, poetry-lock-check

feat: update docstrings
  eventflux/app.py
  eventflux/event.py
  eventflux/handler.py
  eventflux/router.py
  eventflux/subscribers/kafka.py
Due: black, ruff, mypy

test: add test for GenericRouter
  .vscode/settings.json
  poetry.lock
  pyproject.toml
  tests/app.py
  tests/test_generic_router.py
Due: black, ruff, mypy, poetry-check, poetry-lock-check

test: add test for Handler
  tests/test_handler.py
Due: black, ruff, mypy

chore: move testing codes into the examples directory
  examples/__init__.py
  examples/app.py
  examples/docker-compose.yaml
  examples/send_event.py
  pyproject.toml
Due: black, ruff, mypy, poetry-check, poetry-lock-check

chore: add filter translator to jsonata
  eventflux/filter.py
Due: black, ruff, mypy

chore: support parameter based filtering
  eventflux/filter.py
  eventflux/router.py
  pyproject.toml
  tests/test_generic_router.py
Due: black, ruff, mypy, poetry-check, poetry-lock-check

test: increase test coverage
  tests/test_generic_router.py
Due: black, ruff, mypy

feat: support nested query
  eventflux/filter.py
  examples/app.py
  examples/send_event.py
  tests/test_generic_router.py
Due: black, ruff, mypy

feat: add support for operators
  eventflux/filter.py
  tests/test_filter.py
  tests/test_generic_router.py
Due: black, ruff, mypy

chore: make linter happy
  tests/test_filter.py
Due: black, ruff, mypy

Path conditions:
  black: any of: \.py$
  ruff: any of: \.py$
  mypy: any of: \.py$
  poetry-check: any of: ^pyproject.toml$
  poetry-lock-check: any of: (?x)^(
    pyproject.toml|
    poetry.lock
)$

